/* =======================================================
   LIGHT
======================================================= */

:root{

    --primary:#2563eb;

    --secondary:#4f46e5;

    --background:#f4f7fb;

    --surface:#ffffff;

    --surface-2:#f8fafc;

    --text:#111827;

    --text-light:#6b7280;

    --border:#e5e7eb;

    --success:#16a34a;

    --warning:#d97706;

    --danger:#dc2626;

}

/* =======================================================
   DARK
======================================================= */

[data-theme="dark"]{

    --primary:#3b82f6;

    --secondary:#6366f1;

    --background:#0f172a;

    --surface:#1e293b;

    --surface-2:#273449;

    --text:#f8fafc;

    --text-light:#cbd5e1;

    --border:#334155;

    --success:#22c55e;

    --warning:#f59e0b;

    --danger:#ef4444;

}
